h1,h2,p{
  color: rgb(248, 248, 247);
  text-align: center;
}
body{
  background-color: rgb(2, 2, 10);
}
#head-nav {
  background-color: rgb(251, 255, 251);
  position: flex;
  top: 0;
  right: 0;
  gap: 50px;
  padding: 15px;
  color: rgb(7, 6, 6);
  margin-left: 350px;
  margin-right: 200px;
  text-align: center;
  align-items: flex-end;
  padding-left: 25px;
  border-radius: 50px;
}
#head-nav:hover{
  background-color:  rgb(6, 242, 6);
  color: rgb(16, 13, 13);
}
#head-nav:focus {
  background-color:  rgb(251, 231, 14);
  color: rgb(28, 17, 26);
}
#head-nav:active {
  background-color:  rgb(67, 214, 233);
  color: rgb(236, 252, 22);
}
      
.contact-nav {
  color: white;
  text-align: center;
  margin-bottom: 400px;
  width: 300px;
  height: 200px;
}
h2 {color: yellow;
  text-align: left;
  margin-left: 100px;
  padding-bottom: 2px;
  padding-top: 40px;
}
.message-one{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 50px;
  color: yellow;
  font-size: 30px;
}
#message{
  padding-left: 200px;
  padding-bottom: 200px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 100px;
}
a{
  color: rgb(11, 11, 11);
}

footer{
  background-color: rgb(1, 1, 1);
  color: rgb(241, 236, 236);
  margin: 0;
}
.button-one:hover{
  background-color: rgb(7, 249, 112);
}
.button-one:focus {
  background-color: rgb(236, 49, 8);
}